body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  height: 100%;
  background-color: #ffffff;
  font-family: Arial, Helvetica, sans-serif
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  text-align: center;
}

.box {
  border: 2px solid black;
  padding: 10px;
  margin: 10px;
  display: flex;
}

.box img {
  width: 500px;
  height: auto;
  padding: 0px; 
  margin: 10px; 
}

.box h2 {
  text-align: left;
  padding: 0px 20px;
}

.box p {
  text-align: left;
  padding: 0px 20px;
  margin: 20px 0px;
}

.label {
  background-color: rgb(46, 61, 129);
  color: white;
  border-radius: 10px;
  padding: 10px;
}

#all-inclusive {
  background-color: rgb(118, 192, 149);
  color: white;
  border-radius: 10px;
  padding: 10px;
}

button {
  background-color: white;
  font-size: 1rem;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid grey;
  color: grey;
}
